* {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  margin: 2rem 0 1rem 0;
  font-size: 3rem;
}

/* The device with borders */
.smartphone {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto auto 2rem auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 360px;
  height: 640px;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.phone-title {
  font-size: 1.5rem;
  margin: 1rem 0;
}

#user-input {
  width: 70%;
  height: 3rem;
  font-size: 2rem;
  margin: 1rem 0;
  padding: 0 4px;
  border-radius: 1rem;
}

#user-input:hover {
  background-color: #f0f0f0;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
  bottom: 0;
  position: absolute;
}

button {
  width: 40%;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

button:hover {
  background-color: #afafaf;
}

button:active {
  background-color: #7f7f7f;
}